<!DOCTYPE html>
<html>
  <head>
    <title>Favourite Your Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.fontawesome.com/f139cd3ffe.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'http://www.iconsdb.com/icons/preview/caribbean-blue/star-8-xxl.png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
